{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article creation</h1>

    {{ form_start(form) }}

    {{ form_widget(form.name) }}

    <ul class="files" data-prototype="{{ form_widget(form.files.vars.prototype)|e }}">
        {% for key, file in form.files %}
            <li>
                {{ form_widget(file) }}
            </li>
        {% endfor %}
    </ul>


    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
    <script>
        var $collectionHolder;

        var $addTagLink = $('<a href="#" class="add_tag_link">Dodaj</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        $(document).ready(function () {


            $collectionHolder = $('ul.files');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolder, $newLinkLi);
            });

            function addTagForm($collectionHolder, $newLinkLi) {
                var prototype = $collectionHolder.data('prototype');
                var index = $collectionHolder.data('index');
                var newForm = prototype.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
                addTagFormDeleteLink($newFormLi);
            }

            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormA = $('<a href="#">Usuń</a>');
                $tagFormLi.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    e.preventDefault();
                    $tagFormLi.remove();
                });
            }



        });
    </script>
{% endblock javascripts %}
